build
.venv
*.pyc
examples/channels_tutorial/mysite/db.sqlite3
examples/channels_tutorial/mysite/geckodriver.log
examples/rust/cli/hello/target
examples/rust/cli/hello/.idea

examples/rust/cli/echor/target
examples/rust/cli/echor/.idea
